<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h2>User info</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @user do |f| %>

  <h4>Name</h4>
  <%= f.text_field :name %>
    <h4>image</h4>
<%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "user/*" %>

  <h4>Introduction</h4>
  <%= f.text_area :introduction%>
<br>
  <%= f.submit 'Update User',class: "btn btn-success" %>

<% end %>
</div>
</div>
</div>